@import "tailwindcss";

@font-face {
    font-family: "Neue";
    src: url("./assets/fonts/NeueMontreal-Regular.ttf");
}

@font-face {
    font-family: "Grotesk";
    src: url("./assets/fonts/FoundersGrotesk-Semibold.ttf");
}

body{
    font-family:"Neue";
}

.Grostesk{
    font-family: "Grotesk";
}

.content{
    animation-name: move;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}